//Ul Ol
//@mixin ul-ol-extra-style() {} //Create this mixin before import module when you want add some special style for element
//@mixin ul-ol-li-extra-style() {} //Create this mixin before import module when you want add some special style for element

//Ul
//Margins
$ul-margin-top: $elements-margin-top !default;
$ul-margin-bottom: $elements-margin-bottom !default;
$ul-margin-left: $elements-margin-left !default;
$ul-margin-right: $elements-margin-right !default;
$ul-margin-for-screens: $elements-margin-for-screens !default;

//Paddings
$ul-padding-top: 0 !default;
$ul-padding-bottom: 0 !default;
$ul-padding-left: 1.5em !default;
$ul-padding-right: 0 !default;

//List style type
$ul-list-style-type: disc !default;

//Extra style
//@mixin ul-extra-style() {} //Create this mixin before import module when you want add some special style for element

//UL LI
//Margins
$ul-li-margin-top: $list-item-elements-margin-top !default;
$ul-li-margin-bottom: $list-item-elements-margin-bottom !default;
$ul-li-margin-left: $list-item-elements-margin-left !default;
$ul-li-margin-right: $list-item-elements-margin-right !default;
$ul-li-margin-for-screens: $list-item-elements-margin-for-screens !default;

//Extra style
//@mixin ul-li-extra-style() {} //Create this mixin before import module when you want add some special style for element

//Ol
//Margins
$ol-margin-top: $elements-margin-top !default;
$ol-margin-bottom: $elements-margin-bottom !default;
$ol-margin-left: $elements-margin-left !default;
$ol-margin-right: $elements-margin-right !default;
$ol-margin-for-screens: $elements-margin-for-screens !default;

//Paddings
$ol-padding-top: 0 !default;
$ol-padding-bottom: 0 !default;
$ol-padding-left: 1.5em !default;
$ol-padding-right: 0 !default;

//List style type
$ol-list-style-type: null !default;

//Extra style
//@mixin ol-extra-style() {} //Create this mixin before import module when you want add some special style for element

//OL LI
//Margins
$ol-li-margin-top: $list-item-elements-margin-top !default;
$ol-li-margin-bottom: $list-item-elements-margin-bottom !default;
$ol-li-margin-left: $list-item-elements-margin-left !default;
$ol-li-margin-right: $list-item-elements-margin-right !default;
$ol-li-margin-for-screens: $list-item-elements-margin-for-screens !default;

//Extra style
//@mixin ol-li-extra-style() {} //Create this mixin before import module when you want add some special style for element